<div class="contact-us">
  <div class="contact-us-img">
    <img class="img" src="../img/contact-us.png" alt="Contact us" />
  </div>
  <div class="contact-us-form">
    <h1>Contact Us</h1>
    <form class="form">
      <div class="form-control">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <input class="username" type="text" placeholder="username" />
        <small class="uname-validation"></small>
      </div>

      <div class="form-control">
        <ion-icon class="icon" name="mail-outline"></ion-icon>
        <input class="email" type="email" placeholder="Email" />
      </div>

      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        placeholder="message"
      ></textarea>

      <button type="submit" class="btn-submit">Submit</button>
    </form>
  </div>
</div>
