<div class="contact-us">
  <div class="contact-us-img">
    <img class="img" src="../img/contact-us.png" alt="Contact us" />
  </div>
  <div class="contact-us-form">
    <h1>Contact Us</h1>
    <form class="form" onsubmit="formValidation(event)">
      <div class="form-control">
        <ion-icon class="icon" name="person-circle-outline"></ion-icon>
        <input
          class="username"
          type="text"
          name="username"
          placeholder="username"
        />
      </div>
      <small class="uname-validation"></small>

      <div class="form-control">
        <ion-icon class="icon" name="mail-outline"></ion-icon>
        <input class="email" type="email" placeholder="Email" name="email" />
      </div>
      <small class="email-validation"></small>
      <textarea
        id=""
        cols="30"
        rows="10"
        placeholder="message"
        name="message"
        class="message"
      ></textarea>
      <small class="message-validation"></small>

      <button type="submit" class="btn-submit">Submit</button>
    </form>
  </div>
</div>
