<section class="section-hero">
  <div class="slider-controller">
    <button
      id="slider-left"
      class="slider-controller_btn slider-controller_btn--left"
    >
      <
    </button>
    <button
      id="slider-right"
      class="slider-controller_btn slider-controller_btn--right"
    >
      >
    </button>
  </div>
</section>

<section class="section-categories">
  <nav class="category-nav-list">
    <li>
      <button class="category-nav-btn" id="phone-cat">Phones</button>
    </li>
    <li>
      <button class="category-nav-btn" id="laptop-cat">Laptops</button>
    </li>
    <li>
      <button class="category-nav-btn" id="makeup-cat">Makeup</button>
    </li>
    <li><button class="category-nav-btn" id="car-cat">Cars</button></li>
  </nav>
  <div class="category-content grid grid--4-cols grid--center-v" id="category">
    <div class="product-card">
      <div class="product-tumb">
        <img src="https://placehold.co/300x300?text=phone" alt="" />
      </div>
      <div class="product-details">
        <span class="product-catagory">Phone</span>
        <h4><a href="">Oppo reno 3</a></h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero,
          possimus nostrum!
        </p>
        <div class="product-bottom-details">
          <div class="product-price">$230.99</div>
          <div class="product-links">
            <a href=""><i class="fa fa-heart"></i></a>
            <a href=""><i class="fa fa-shopping-cart"></i></a>
            <button class="btn">Add to cart</button>
          </div>
        </div>
      </div>
    </div>

    <div class="product-card">
      <!-- <div class="badge">Hot</div> -->
      <div class="product-tumb">
        <img src="https://placehold.co/300x300?text=laptop" alt="" />
      </div>
      <div class="product-details">
        <span class="product-catagory">Laptop</span>
        <h4><a href="">Lenovo ideapad310</a></h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero,
          possimus nostrum!
        </p>
        <div class="product-bottom-details">
          <div class="product-price">$500.99</div>
          <div class="product-links">
            <a href=""><i class="fa fa-heart"></i></a>
            <a href=""><i class="fa fa-shopping-cart"></i></a>
            <button class="btn">Add to cart</button>
          </div>
        </div>
      </div>
    </div>

    <div class="product-card">
      <!-- <div class="badge">Hot</div> -->
      <div class="product-tumb">
        <img src="https://placehold.co/300x300?text=laptop" alt="" />
      </div>
      <div class="product-details">
        <span class="product-catagory">Laptop</span>
        <h4><a href="">Lenovo ideapad310</a></h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero,
          possimus nostrum!
        </p>
        <div class="product-bottom-details">
          <div class="product-price">$500.99</div>
          <div class="product-links">
            <a href=""><i class="fa fa-heart"></i></a>
            <a href=""><i class="fa fa-shopping-cart"></i></a>
            <button class="btn">Add to cart</button>
          </div>
        </div>
      </div>
    </div>

    <div class="product-card">
      <div class="product-tumb">
        <img src="https://placehold.co/300x300?text=cars" alt="" />
      </div>
      <div class="product-details">
        <span class="product-catagory">car</span>
        <h4><a href="">Toyota</a></h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero,
          possimus nostrum!
        </p>
        <div class="product-bottom-details">
          <div class="product-price">$10000</div>
          <div class="product-links">
            <a href=""><i class="fa fa-heart"></i></a>
            <a href=""><i class="fa fa-shopping-cart"></i></a>
            <button class="btn">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-top-selling">
  <h3 class="top-selling_title">Top Selling</h3>
  <div class="top-selling_products grid grid--6-cols">
    <div class="top-selling_product-cart">
      <img
        class="top-selling_product-img"
        src="https://placehold.co/300x300?text=cars"
        alt=""
        width="100"
      />
      <div class="top-selling_product-desc">
        <p class="top-selling_product-title">Toyota</p>
        <span class="top-selling_product-price">EGP 62.00</span>
      </div>
    </div>

    <div class="top-selling_product-cart">
      <div class="top-selling_product-img">
        <img
          class="top-selling_product-img"
          src="https://placehold.co/300x300?text=cars"
          alt=""
          width="100"
        />
      </div>
      <div class="top-selling_product-desc">
        <p class="top-selling_product-title">Toyota</p>
        <span class="top-selling_product-price">EGP 62.00</span>
      </div>
    </div>

    <div class="top-selling_product-cart">
      <div class="top-selling_product-img">
        <img
          class="top-selling_product-img"
          src="https://placehold.co/300x300?text=cars"
          alt=""
          width="100"
        />
      </div>
      <div class="top-selling_product-desc">
        <p class="top-selling_product-title">Toyota</p>
        <span class="top-selling_product-price">EGP 62.00</span>
      </div>
    </div>

    <div class="top-selling_product-cart">
      <div class="top-selling_product-img">
        <img
          class="top-selling_product-img"
          src="https://placehold.co/300x300?text=cars"
          alt=""
          width="100"
        />
      </div>
      <div class="top-selling_product-desc">
        <p class="top-selling_product-title">Toyota</p>
        <span class="top-selling_product-price">EGP 62.00</span>
      </div>
    </div>

    <div class="top-selling_product-cart">
      <img
        class="top-selling_product-img"
        src="https://placehold.co/300x300?text=cars"
        alt=""
        width="100"
      />
      <div class="top-selling_product-desc">
        <p class="top-selling_product-title">Toyota</p>
        <span class="top-selling_product-price">EGP 62.00</span>
      </div>
    </div>

    <div class="top-selling_product-cart">
      <img
        class="top-selling_product-img"
        src="https://placehold.co/300x300?text=cars"
        alt=""
        width="100"
      />
      <div class="top-selling_product-desc">
        <p class="top-selling_product-title">Toyota</p>
        <span class="top-selling_product-price">EGP 62.00</span>
      </div>
    </div>
  </div>
</section>
