<div class="product-card">
  <!-- <div class="badge">Hot</div> -->
  <div class="product-tumb">
    <img src="https://placehold.co/300x300?text=laptop" alt="" />
  </div>
  <div class="product-details">
    <span class="product-catagory">Laptop</span>
    <h4><a href="">Lenovo ideapad310</a></h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus
      nostrum!
    </p>
    <div class="product-bottom-details">
      <div class="product-price">$500.99</div>
      <div class="product-links">
        <a href=""><i class="fa fa-heart"></i></a>
        <a href=""><i class="fa fa-shopping-cart"></i></a>
        <button class="btn">Add to cart</button>
      </div>
    </div>
  </div>
</div>

<div class="product-card">
  <div class="product-tumb">
    <img src="https://placehold.co/300x300?text=laptop" alt="" />
  </div>
  <div class="product-details">
    <span class="product-catagory">Laptop</span>
    <h4><a href="">Dell</a></h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus
      nostrum!
    </p>
    <div class="product-bottom-details">
      <div class="product-price">$500.99</div>
      <div class="product-links">
        <a href=""><i class="fa fa-heart"></i></a>
        <a href=""><i class="fa fa-shopping-cart"></i></a>
        <button class="btn">Add to cart</button>
      </div>
    </div>
  </div>
</div>

<div class="product-card">
  <!-- <div class="badge">Hot</div> -->
  <div class="product-tumb">
    <img src="https://placehold.co/300x300?text=laptop" alt="" />
  </div>
  <div class="product-details">
    <span class="product-catagory">Laptop</span>
    <h4><a href="">Mac</a></h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus
      nostrum!
    </p>
    <div class="product-bottom-details">
      <div class="product-price">$500.99</div>
      <div class="product-links">
        <a href=""><i class="fa fa-heart"></i></a>
        <a href=""><i class="fa fa-shopping-cart"></i></a>
        <button class="btn">Add to cart</button>
      </div>
    </div>
  </div>
</div>

<div class="product-card">
  <!-- <div class="badge">Hot</div> -->
  <div class="product-tumb">
    <img src="https://placehold.co/300x300?text=laptop" alt="" />
  </div>
  <div class="product-details">
    <span class="product-catagory">Laptop</span>
    <h4><a href="">Mac</a></h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, possimus
      nostrum!
    </p>
    <div class="product-bottom-details">
      <div class="product-price">$500.99</div>
      <div class="product-links">
        <a href=""><i class="fa fa-heart"></i></a>
        <a href=""><i class="fa fa-shopping-cart"></i></a>
        <button class="btn">Add to cart</button>
      </div>
    </div>
  </div>
</div>
